@charset "utf-8";
/*reset*/
* {
    margin: 0; padding: 0; text-decoration: none; text-align: center;
}
/*pc*/
body {
    position: relative;
    width: 100%;
}
.wrap {
    overflow: hidden; 
    width: 1920px;
    height: auto;
    margin: 0 auto;
}
header {
    width: 1920px;
    height: auto;
    background-color: #8fc7b8;
    transform: skewY(-5deg);
    margin-top: -85px;
}
.textarea {
    display: inline-block;
    width: 1920px;
    height: auto;
    transform: skewY(5deg);
    margin-top: 200px;
    margin-bottom: 200px;
}
.sasun {
    margin-bottom: -5px;
}
.loginarea {
    position: relative;
    width: 600px;
    height: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}
.id {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: -5px -2px 4px 1px #d6d6d6 inset;
}
.idd1 {
    float: right;
    margin-right: 90px;
}
.idd1 p {
    display: inline-block;
    margin-right: 20px;
}
.pw1 {
    float: right;
    margin-right: 90px;
    margin-top: 10px;
}
.pw {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: -5px -2px 4px 1px #d6d6d6 inset;
}
.pw1 p {
    display: inline-block;
    margin-right: 20px;
}
.loginbt {
    position: absolute;
    right: 0;
}
.lgbt {
    width: 80px;
    height: 110px;
    color: white;
    font-size: 25px;
    background-color: #8fc7b8;
    border: none;
    border-radius: 5px;
    box-shadow: -5px -2px 4px 1px #80b0a3 inset;
}