@charset "utf-8";
@font-face {
    font-family: 'timonsori';
    src: url('../font/TmonMonsori.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'sandol';
    src:url('../font/AppleSDGothicNeoR.ttf');
}
/*reset*/
*{margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}
h2,p {
    font-family: 'sandol';
    color: '1c1c1c';
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 24px;
    line-height: 120%;
}
.body {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.wrap {
    width: 1920px;
    height: auto;
    margin: 0 auto;
}
/*pc*/
*{
    text-align: center;
}
/*pc header*/
header {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    transform: skewY(-7deg);
}
.giwun {
    transform: skewY(7deg);
}
.sasunf {
    width: 1920px;
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
/*pc middle*/
.middle {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #8fc7b8;
    transform: skewY(-7deg);
    padding-top: 80px;
}
.textarea {
    position: relative;
    overflow: hidden;
    transform: skewY(7deg);
    padding-top: 70px;
    padding-bottom: 200px;
}
.user {
    color: white;
    position: absolute;
    top: 0px;
    right: 300px;
}
.logout p {
    color: white;
}
.logout {
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0px;
    right: 160px;
}
.logout:hover {
    background-color: #4a4a4a;
    color: white;
    right: 160px;
}
.textarea h3 {
    margin-top: 50px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px gray;
}
.plus {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: -40px;
    margin-right: -75%;
}
.leftbt,.rightbt {
    width: auto;
    height: 150px;
}
.leftbt {
    position: absolute;
    left: 5%;
    top: 30%;
}
.rightbt {
    position: absolute;
    right: 5%;
    top: 30%;
}
.jasanarea,.gtarea {
    position: relative;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-bottom: 40px;
}
/*pc jasan*/
.jasan {
    position: relative;
    overflow: hidden;
}
.jasanarea {
    background-color: #4a4a4a;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    margin-bottom: 100px;
}
.bank,.jasanarea h2 {
    color: white;
    padding-top: 70px;
}
.bank {
    font-size: 40px;
}
.jasanarea h2 {
    padding-top: 0;
    font-size: 100px;
}
/*pc gt*/
.gtarea {
    background-color: white;
    border-right: 10px solid #4a4a4a;
    border-bottom: 10px solid #4a4a4a;
    margin-bottom: 100px;
}
.bij,.gtarea h2 {
    color: #1c1c1c;
    padding-top: 70px;
}
.bij {
    font-size: 40px;
}
.gtarea h2 {
    padding-top: 0;
    font-size: 100px;
}
/*pc footer*/
.sasuns {
    width: 1920px;
    height: auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.gigi {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background-color: #4a4a4a;
    transform: skewY(-7deg);
    text-align: center;
}
.footerarea {
    transform: skewY(7deg);
    padding-top: 30px;
}
.flogo {
    display: block;
    margin-bottom: 10px;
}
.map p {
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.copy {
    color: white;
    margin-top: 20px;
}
footer {
    width: 100%;
    height: 370px;
    background-color: #4a4a4a;
}
/*modal_contants*/
.modal {
    width: 600px;
    height: auto;
    background-color: white;
    position: fixed;
    top: 20%;
    right: 50%;
    margin-right: -300px;
    z-index: 3;
}
.madal_layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.minarea {
    width: 600px;
    height: 50px;
    background-color: #8fc7b8;
    line-height: 50px;
}
.minarea img {
    height: 40px;
    width: auto;
    float: right;
    margin-right: 20px;
}
.warea {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 80px;
}
select {
    width: 400px;
    padding: 0px;
}
.money {
    width: 300px;
    padding: 5px;
}
.bank_name {
    widows: 300px;
    padding: 5px;
}
.barea {
    background-color: #4a4a4a;
    width: 600px;
    height: 50px;
    overflow: hidden;
}
.barea p {
    margin-top: 10px;
    color: white;
    display: inline-block;
}
.addbt {
    float: left;
    margin-left: 20px;
}
.closebt {
    float: right;
    margin-right: 20px;
}
.bname {
    width: 415px;
    padding: 4.5px;
}
.months {
    width: 120px;
    padding: 5px;
}
.days {
    width: 120px;
    padding: 5px;
}
.years {
    width: 120px;
    padding: 5px;
}

.hide {
    display: none;
}
