<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>가계부</title>
        <link rel="stylesheet" type="text/css" href="css/giveNtake.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    </head>
    <body>
        <div class="modal hide">
        <div class="modal_contants">
            <div class="minarea">
                <img src="img/logo2.png">
            </div>
            <div class="warea">
                <form>
                    년 <select class="years" name="years"></select> 
                    월 <select class="months" name="months"></select>
                    일 <select class="days" name="days"></select>
                    <br/>
                    <br/>             
                        금액 <input type="text" class="money">
                        <input type="radio" name="money" value="give">GIVE
                        <input type="radio" name="money" value="take">TAKE      
                </form>
            </div>
            <div class="barea">
                    <p class="addbt">추가하기</p>
                    <p class="closebt">CLOSE</p>
            </div>
        </div>
        </div>
        
        <div class="madal_layer hide"></div>
                    
        
        <div id="wrap">
        <header>
            <div class="area">
                <h1 class="logo">
                <a href="#" target="_self">
                    <img src="img/logo.png" alt="M&C's HouseHold">
                </a>
                </h1>
            </div>
            <img class="sasunb" src="img/sasunb">
        </header>
        
        <div class="middle">
                <div class="marea">
                    <p class="user" th:text="${name}+'님'"></p>
                    <a class="logoutbt" href="#"><div class="logout"><p>로그아웃</p></div></a>
                </div>
                
                <div class="narea1">
                    <h4 class="gtname" th:text="${debt.name}">김현우</h4>
                    <a href="#">
                        <img class="leftbt" src="img/menu1_leftbt.png">
                    </a>
                    <h2 class="janaeck" th:text="${debt.account}">1,000,000</h2>
                    <p class="won">원</p>
                    <a href="#">
                        <img class="rightbt" src="img/menu1_rightbt.png">
                    </a>
                </div>
                
                <div class="narea2">                   
                    <div class="jichul">
                        <p class="totalj">총 GIVE</p>
                        <h3 class="jnumber"></h3>
                        <p class="jwon">원</p>
                    </div>
                    
                    <div class="suib">
                        <p class="totals">총 TAKE</p>
                        <h3 class="snumber"></h3>
                        <p class="swon">원</p>
                    </div>
                </div>
                
                <div class="middlebt"></div>
                
                <div class="pyo">
                    <div class="parea">
                    <table class="pyos" border="0">
                    	<th style="display: none"></th>
                        <th class="p1">날짜</th>
                        <th class="p3">GIVE</th>
                        <th class="p4">TAKE</th>
                        <tr th:each="record : ${debtRecord}">
                        	<td th:text="${record.id}" style="display: none"></td>
                        	<td th:text="${record.date}"></td>
                        	<td th:text="${record.borrowing}"></td>
                        	<td th:text="${record.borrowed}"></td>
                        </tr>
                    </table>
                        <img class="pbt" src="img/listpbt.png">
                    </div>
                    
                </div>
            <img class="sasunm" src="img/sasunm">
            <div class="whiteback"></div>
        </div>
        
        <footer>
            <div class="gigi">
            <div class="footerarea">
            <a class="flogo" href="#">
                <img src="img/logo1.png" alt="logo">
            </a>
            <a class="map" href="#">
                <p class="jp">자산</p>
            </a>
            <a class="map" href="#">
                <p class="gp">Give & Take</p>
            </a>
            <p class="copy">Copyright 2020.Chanmi.All right reserved</p>
            </div>
            </div>
        </footer>
        </div>
        <script type="text/javascript">
            $(".js-example-tokenizer").select2({
            tags: true,
            tokenSeparators: [',', ' ']
            })
            
            $('.pbt').on('click',function(){
               $('.madal_layer').removeClass('hide');
               $('.modal').removeClass('hide');
            });
            
            $('.closebt').on('click',function(){
               $('.madal_layer').addClass('hide');
               $('.modal').addClass('hide');
            });
            
            $(document).ready(function(){     
                for (var i = 2021; i<=3500; i++) {
                    $('.years').append(new Option(i));
                }
                for (var i = 1; i<=12; i++) {
                    $('.months').append(new Option(i));
                }
                for (var i =1; i<=31; i++) {
                    $('.days').append(new Option(i));
                }
            });
        </script>
        <script th:inline="javascript">
        	/*<![CDATA[*/
        	var userId = /*[[ ${name} ]]*/
        	var debtRecord = /*[[ ${debtRecord} ]]*/
        	var debt = /*[[ ${debt} ]]*/
        	/*]]>*/
        </script>
        <script type="text/javascript" src="js/debt.js"></script>
    </body>
</html>