<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>가계부</title>
        <link rel="stylesheet" type="text/css" href="css/style0.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="modal">
        <div class="modal_contants">
            <div class="minarea">
                <img src="img/logo2.png">
            </div>
            <div class="warea">
                <form>
                    은행 <input type="text" class="bank_name"> 
                   <br/>             
                    금액 <input type="text" class="money">   
                </form>
            </div>
            <div class="barea">
                    <p class="addbt">추가하기</p>
                    <p class="closebt">CLOSE</p>
            </div>
        </div>
        </div>
        
        <div class="modal2">
        <div class="modal2_contants">
            <div class="minarea">
                <img src="img/logo2.png">
            </div>
            <div class="warea">
                <form>
                    년 <select class="years" name="years"></select> 
                    월 <select class="months" name="months"></select>
                    일 <select class="days" name="days"></select>
                    <br/>     
                    이름 <input type="text" class="name">
                    <br/>
                    <input type="radio" name="money" value="give">GIVE
                    <input type="radio" name="money" value="take">TAKE
                    <br/>
                    금액 <input type="text" class="debtMoney">   
                </form>
            </div>
            <div class="barea">
                    <p class="addbt2">추가하기</p>
                    <p class="closebt2">CLOSE</p>
            </div>
        </div>
        </div>
        
        <div class="madal_layer"></div>
        
        
       <div class="wrap">
       <header>
           <div class="giwun">
            <h1 class="logo">
                <a href="#" target="_self">
                    <img src="img/logo.png" alt="M&C's HouseHold">
                </a>
           </h1>
           </div>
           <img class="sasunf" src="img/sasunb">
        </header>
        
        <div class="middle">
        <div class="textarea">
            <p class="user" th:text="${name}+'님'"></p>
            <a class="logoutbt" href="#"><div class="logout"><p>로그아웃</p></div></a>
            <div class="jasan">
                <h3>자산</h3>
                    <img class="plus plus1" src="img/maun_pbt.png">
                <div class="jasanarea">
                    <img class="leftbt leftbt1" src="img/main_leftbt.png">
                    <p class="bank" th:if="${assetList.empty}">-</p>
                    <p class="bank" th:if="${!assetList.empty}" th:text="${assetList[0].assetName}"></p>
                    <h2 class="assetAccount" th:if="${assetList.empty}">0</h2>
                    <h2 class="assetAccount" th:if="${!assetList.empty}" th:text="${#numbers.formatInteger(assetList[0].account, 0, 'COMMA')}"></h2>
                        <img class="rightbt rightbt1" src="img/main_rightbt.png">
                </div>
            </div>
            
            <div class="givetake">
                <h3>Give & Take</h3>
                <img class="plus plus2" src="img/maun_pbt.png">
                <div class="gtarea">
                        <img class="leftbt leftbt2" src="img/main_leftbbt.png">
                    <p class="bij" th:if="${debtList.empty}">-</p>
                    <p class="bij" th:if="${!debtList.empty}" th:text="${debtList[0].name}"></p>
                    <h2 th:if="${debtList.empty}">0</h2>
                    <h2 th:text="${debtList[0].account}">0</h2>
                        <img class="rightbt rightbt2"
                             src="img/main_rightbbt.png">
                </div>
            </div>
        </div>
        <img class="sasuns" src="img/sasunw">
        </div>
        
        <footer>
        <div class="gigi">
            <div class="footerarea">
            <a class="flogo" href="#">
                <img src="img/logo1.png" alt="logo">
            </a>
            <a class="map" href="#">
                <p class="jp">자산</p>
            </a>
            <a class="map" href="#">
                <p class="gp">Give & Take</p>
            </a>
            <p class="copy">Copyright 2020.Chanmi.All right reserved</p>
            </div>
            </div>
        </footer>
        </div>                       
                                     
        <input type="hidden" id="assetList" th:value="${assetList}"/>
        <script th:inline="javascript">
        	/*<![CDATA[*/
        	var assetList = /*[[ ${assetList} ]]*/;
        	var userId = /*[[ ${name} ]]*/
        	var debtList = /*[[ ${debtList} ]]*/
        	/*]]>*/
        </script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>