<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>가계부</title>
        <link rel="stylesheet" type="text/css" href="css/naeyock.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    </head>
    <body>
        <div class="modal hide">
        <div class="modal_contants">
            <div class="minarea">
                <img src="img/logo2.png">
            </div>
            <div class="warea">
                <form>
                    년 <select class="years" name="years"></select> 
                    월 <select class="months" name="months"></select>
                    일 <select class="days" name="days"></select>
                    <br/>
                    은행 <select class="bname" name="bank" >
                        <option value="sinhan" th:text="${asset.assetName}"></option>
                    </select>
                    <br/>
                        내용 <input type="text" class="meony_n">
                   <br/>             
                        금액 <input type="text" class="money">
                        <input type="radio" name="money" value="get">수입
                        <input type="radio" name="money" value="out">지출
                   <br/>            
                       카테고리 <select class="js-example-tokenizer form-control" name="category"></select>                 
                </form>
            </div>
            <div class="barea">
                <a href="#">
                    <p class="addbt">추가하기</p>
                </a>    
                <a href="#">
                    <p class="closebt">CLOSE</p>
                </a>
            </div>
        </div>
        </div>
        
        <div class="madal_layer hide"></div>
                    
        
        <div id="wrap">
        <header>
            <div class="area">
                <h1 class="logo">
                <a href="#" target="_self">
                    <img src="img/logo.png" alt="M&C's HouseHold">
                </a>
                </h1>
            </div>
            <img class="sasunb" src="img/sasunb">
        </header>
        
        <div class="middle">
                <div class="marea">
                    <p class="user" th:text="${name}+'님'"></p>
                    <a class="logoutbt" href="#"><div class="logout"><p>로그아웃</p></div></a>
                    <div class="mbt1">
                        <a href="#"><h4>내역</h4></a>
                    </div>
                    <div class="mbt2">
                        <a href="#"><h4>예산</h4></a>
                    </div>
                    <div class="mbt3">
                        <a href="#"><h4>그래프</h4></a>
                    </div>
                </div>
                
                <div class="narea1">
                    <h4 class="bankm" th:text="${asset.assetName}"></h4>
                    <a href="#">
                        <img class="leftbt" src="img/menu1_leftbt.png">
                    </a>
                    <h2 class="janaeck" th:text="${#numbers.formatInteger(asset.account, 0, 'COMMA')}"></h2>
                    <p class="won">원</p>
                    <a href="#">
                        <img class="rightbt" src="img/menu1_rightbt.png">
                    </a>
                </div>
                
                <div class="narea2">
                	<p class="year" th:text="${year}"></p>
                    <p class="month" th:text="${month}"></p>
                    <div class="jichul">
                        <p class="totalj">총 지출</p>
                        <h3 class="jnumber">283,000</h3>
                        <p class="jwon">원</p>
                    </div>
                    
                    <div class="suib">
                        <p class="totals">총 수입</p>
                        <h3 class="snumber">4,000,000</h3>
                        <p class="swon">원</p>
                    </div>
                </div>
                
                <a href="#">
                    <div class="middlebt">
                        <h4>입출내역 작성</h4>
                    </div>
                </a>
                
                <div class="pyo">
                    <div class="parea">
                    <table class="pyos" border="0">
                        <th class="p1">날짜</th>
                        <th class="p2">내용</th>
                        <th class="p3">수입</th>
                        <th class="p4">지출</th>
                        <th class="p5">카테고리</th>
                        <th class="p6"></th>
                        <tr th:each="record : ${recordList}">
                            <td th:text="${record.date}"></td>
                            <td th:text="${record.about}"></td>
                            <td th:text="${record.import_}"></td>
                            <td th:text="${record.spend}"></td>
                            <td th:text="${record.categoryId}"></td>
                            <td>X</td>
                        </tr>
                    </table>
                    <img class="pbt" src="img/listpbt.png">
                    </div>
                    
                </div>
            <img class="sasunm" src="img/sasunm">
            <div class="whiteback"></div>
        </div>
        
        <footer>
            <div class="gigi">
            <div class="footerarea">
            <a class="flogo" href="#">
                <img src="img/logo1.png" alt="logo">
            </a>
            <a class="map" href="#">
                <p class="jp">자산</p>
            </a>
            <a class="map" href="#">
                <p class="gp">Give & Take</p>
            </a>
            <p class="copy">Copyright 2020.Chanmi.All right reserved</p>
            </div>
            </div>
        </footer>
        </div>
        
        <script th:inline="javascript">
        	/*<![CDATA[*/
        	var userId = /*[[ ${name} ]]*/
        	var assetObj = /*[[ ${asset} ]]*/
        	var categoryList = /*[[ ${categoryList} ]]*/
        	/*]]>*/
        </script>
        
        <script type="text/javascript" src="js/asset.js">
        </script>
    </body>
</html>